* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Reddit Sans", sans-serif;
}

.section-header, .section-intro, .section-features, .section-news,
.section-stats, .section-footer {
    padding-left: 350px;
    padding-right: 350px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.section-header a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 16px;
}

.section-header li {
    list-style: none;
}

.section-header ul {
    display: flex;
    gap: 32px;
    align-items: center;
}

.section-header button {
    color: white;
    border: none;
    border-radius: 20px;
    background-color: #FF2C00;
    font-size: 20px;
    font-weight: 800;
    padding: 6px 26px;
}